.color-red { background-color: #FF2600; color: #FFFFFF; display: inline; padding: 2px 4px; border-radius: 3px; }
.color-blue { background-color: #3366FF; color: #FFFFFF; display: inline; padding: 2px 4px; border-radius: 3px; }
.color-orange { background-color: #FFA500; color: #FFFFFF; display: inline; padding: 2px 4px; border-radius: 3px; }
.color-green { background-color: #008000; color: #FFFFFF; display: inline; padding: 2px 4px; border-radius: 3px; }
.color-magenta { background-color: #FF00FF; color: #FFFFFF; display: inline; padding: 2px 4px; border-radius: 3px; }
.color-yellow { background-color: #FFFF00; color: #000000; display: inline; padding: 2px 4px; border-radius: 3px; }
.color-purple { background-color: #800080; color: #FFFFFF; display: inline; padding: 2px 4px; border-radius: 3px; }
.color-cyan { background-color: #00FFFF; color: #000000; display: inline; padding: 2px 4px; border-radius: 3px; }

.float-right {float: right; margin-left: 10px; width: 500px;}